body {
    font-size: 20px;
    background-color: yellow;
}

@media screen and (max-width: 320px) {
    body {
      font-size: 20px;
        background-color: red;
    }
}

@media screen and (min-width: 375px) and (-webkit-device-pixel-ratio: 3) {
    body {
      font-size: 20px;
        background-color: #0FF000;
    }
}

@media screen and (min-width: 414px) {
    body {
      font-size: 20px;
        background-color: blue;
    }
}

@media screen and (min-width: 768px) {
    body {
      font-size: 20px;
        background-color: green;
    }
}

@media screen and (min-width: 1024px) {
    body {
      font-size: 20px;
        background-color: #FF00FF;
    }
}

@media screen and (min-width: 1100px) {
    body {
      font-size: 20px;
        background-color: #fff;
    }
}
/* 0-320: red, 320-375: yellow, 375-414: 0FF000, 414-768: blue, 768-1024: green, 1024-1100: FF00FF, >1100:black */